.Header {
    display: flex;
    width: 100%;
    margin: 2% 0 0 0;

}

.Header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 1s;
}

.Header nav div {
    margin: 0 1%;
    flex: 1;
    text-align: center;
    transition: 0.2s;
}

.Header nav a {
    text-decoration: none;
    color: white;
}

.Header button {
    background-color: transparent;
    border: none;
}

.linea {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    margin: 0 0 6.25px 0;
    width: 21px;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
    transform-origin: left;
}

.Header nav div.menu {
    display: none;
    flex-direction: column;
}

.Header nav div.menu.open {
    display: flex;
}
